os:
  - linux
  - osx

language: node_js

sudo: false

dist: xenial

node_js:
  - "node"

branches:
  only:
    - master

install:
  - npm install --no-save nan tree-sitter-cli readdir-enhanced
  - npm run build
  - npm install
